@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  min-width: 320px;
  min-height: 300px;
  overflow-x: hidden;
}

/* Custom styling for checkboxes */
.form-checkbox {
  @apply rounded border-gray-300 text-blue-600 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50;
}

/* Tooltip styles */
.tooltip {
  @apply relative inline-block;
}

.tooltip .tooltip-text {
  @apply invisible absolute z-10 w-32 -ml-16 px-2 py-1 text-center text-white bg-gray-700 rounded-md text-xs bottom-full left-1/2 mb-1 opacity-0 transition-opacity duration-300;
}

.tooltip:hover .tooltip-text {
  @apply visible opacity-100;
}